#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .logo {
    display: flex;
    width: 200px;
  }

}

/* Desktop (1024px and up) */
@media (min-width: 1024px) {
  .logo-name {
    display: contents;
    color: #f9b17a;
    font-size: 25px;
    font-weight: 600;
  }

  .event-wrapper {
    display: none;
  }

  .tab-container {
    position: absolute;
    right: 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px;
    background-color: transparent;
    border-radius: 9px;
  }

  .indicator {
    content: "";
    width: 130px;
    height: 2px;
    background: #f9b17a;
    position: absolute;
    top: 50px;
    left: 4px;
    z-index: 9;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    transition: all 0.2s ease-out;
  }

  .tab {
    width: 130px;
    height: 20px;
    position: absolute;
    right: 550px;
    z-index: 1000;
    outline: none;
    opacity: 0;
  }

  .tab_label {
    width: 130px;
    height: 60px;
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 1.1rem;
    opacity: 1;
    cursor: pointer;
  }

  .menu-list {
    position: fixed;
    right: 10px;
    top: -15px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 1.2rem;
    opacity: 1;
    outline: none;
    cursor: pointer;
  }

  .tab--1:checked~.indicator {
    left: 2px;
  }

  .tab--2:checked~.indicator {
    left: calc(130px + 2px);
  }

  .tab--3:checked~.indicator {
    left: calc(130px * 2 + 2px);
  }

  .tab--4:checked~.indicator {
    left: calc(130px * 3 + 2px);
  }

  .tab--5:checked~.indicator {
    left: calc(130px * 4 + 2px);
  }

  .scroll-list-container {
    position: fixed;
    top: 17vh;
    left: 0px;
    width: 100vw;
    height: 80vh;
  }

  .showcr {
    display: grid;

  }

  .scon {
    display: flex;
    width: 98vw;
    justify-content: center;
    align-items: center;
  }

  .group {
    width: 70vw;
  }

  .scon>.container {
    padding: 10px;
  }

  .session-container {
    max-height: 100px;
  }

  .propdetails.props {
    min-height: 155px;
  }

  .quiz-container {
    position: absolute;
    top: 16vh;
    left: 5px;
    width: 98vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
  }

  .tasks {
    position: absolute;
    top: 16vh;
    left: 15px;
    width: 98vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .quiz-container>.item {
    width: 95%;
    margin-top: 5px;
  }

  .quiz-item {
    left: 10px;
  }

  .quiz-header {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    align-items: center;
    width: max-content;
  }

  .q-header>.newcr {
    position: relative;
    margin-top: -155px;
    margin-right: 20px;
  }

  .q-options {
    width: 35%;
  }

  .question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item {
    width: 97%;
  }

  .tab-con {
    position: absolute;
    width: 98vw;
    left: 15px;
    top: 11vh;
  }

  .main-container {
    width: 100%;
  }

  .search {
    margin-left: 80%;
  }
  .con-item.smcr {
    width: 98%;
  }
  .test-area {
    width: 100%;
  }
  .test-area.task {
    overflow-x: hidden;
  }
  .question-prog {
    position: absolute;
    left: 6px;
    top: 10px;
    width: 98%;
    height: 70px;
    border: 1px solid #676f9d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .question-con.task{
    height:max-content;
  }
  .q.task {
    width: 99%;
    border-radius: 10px;
    border: 1px solid #676f9d;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
    max-height:1000px;
    overflow-y: visible;
    text-align: start;
  }
  .code-editor {
    position: absolute;
    left: 0;
    top: 11vh;
    width: 99vw;
    height: 88%;
    display: flex;
    flex-direction: row;
  }

  .editor {
    width: 50%;
    height: 100%;
  }

  .join.run {
    margin-top: 10px;
  }

  .output.true,
  .output.false {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 100%;
  }

  .lang-selection,
  .lang-selection.off {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #676f9d;
    border-radius: 10px;
    padding-bottom: 15px;
  }

  .answer {
    width: 100%;
    min-height: 69vh;
    overflow-y: hidden;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
  }

  body {
    overflow-x: hidden;
  }

  .output-con.test {
    border: 1px solid #676f9d;
    overflow-y: scroll;
  }

  .navbtns.test {
    top: 90%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbtns.test>button,
  .join.prev,
  .join.next {
    font-size: 14px;
  }

  .output.test {
    height: 69vh;
  }

  .editor.test {
    height: 70vh;
  }
  .out{
    max-height: 80%;
    overflow-y: scroll;
  }
  .run-bar {
    display: none;
  }
  .input-answer{
  border: 1px solid #676f9d;
  border-radius: 10px;
  min-height: 60vh;
  display: flex;
  align-items: start;
}
}