#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
    .logo{
      display: flex;
      width: 200px;
    }
    .logo-name{
      display: contents;
      color: #f9b17a;
      font-size: 25px;
      font-weight: 600;
    }
}
/* Desktop (1024px and up) */
@media (min-width: 1024px) {
 
}