@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: Roboto system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.scroll-reveal {
  margin: 20px 0;
}
/* From Uiverse.io by Nawsome */ 
.loader {
  --background: linear-gradient(135deg, #fdc79d, #fb9343);
  --shadow: rgba(0,0,0);
  --text: #6C7486;
  --page: rgba(255, 255, 255, 0.36);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 100px;
  height: 70px;
  position: relative;
}

.loader:before, .loader:after {
  --r: -6deg;
  content: "";
  position: absolute;
  bottom: 8px;
  width: 60px;
  top: 80%;
  box-shadow: 0 16px 12px var(--shadow);
  transform: rotate(var(--r));
}

.loader:before {
  left: 4px;
}

.loader:after {
  --r: 6deg;
  right: 4px;
}

.loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 300px;
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background);
}

.loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 5px;
  left: 5px;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  transform: rotateY(var(--r));
  -webkit-animation: var(--duration) ease infinite;
  animation: var(--duration) ease infinite;
}

.loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  -webkit-animation-name: page-2;
  animation-name: page-2;
}

.loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  -webkit-animation-name: page-3;
  animation-name: page-3;
}

.loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  -webkit-animation-name: page-4;
  animation-name: page-4;
}

.loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  -webkit-animation-name: page-5;
  animation-name: page-5;
}

.loader div ul li svg {
  width: 45px;
  height: 60px;
  display: block;
}

.loader div ul li:first-child {
  --r: 0deg;
  --o: 1;
}

.loader div ul li:last-child {
  --o: 1;
}

.loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
  text-align: center;
  color: var(--text);
}

@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  35%, 100% {
    opacity: 0;
  }

  50%, 100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  50%, 100% {
    opacity: 0;
  }

  65%, 100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  65%, 100% {
    opacity: 0;
  }

  80%, 100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  80%, 100% {
    opacity: 0;
  }

  95%, 100% {
    transform: rotateY(0deg);
  }
}
.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1d2033;
  color: #ffffff;
  position: relative;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: #2d3250;
  display: flex;
  align-items: center;
  justify-content:space-between;
  z-index: 1000;
}
.auth{
  color: #f9b17a;
  position: absolute;
  right: 5px;
  top: 22px;
}
.logo{
  position: absolute;
  left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo>img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.logo-name{
  display: none;
}
a{
  text-decoration: none;
  color: #ffffff;
}

.auth>a{
  border: 2px solid #f9b17a;
  border-radius: 20px;
  margin: 5px 5px;
  padding: 8px 13px;
  color:#f9b17a;
  font-size: 14px;
}
.auth>a:hover{
  color: #ffffff;
  background-color: #f9b17a;
}
.logincard{
  width:260px;
  height: 270px;
  background-color: #2d3250;
  border-radius: 15px;
  margin: auto;
  display:flex;
  justify-content: center;
  align-items:center;
  position: relative;
}
.logincard>form>h2{
  position: absolute;
  width: 100%;
  top: 10px;
  left: 50%;
  transform:translateX(-50%);
}
.logincard>form{
  display: inline;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top:65%;
  margin-left: 10px;
  width: 84%;
}
.email{
  margin-top: -20px;
  position: relative;
}
.email>ion-icon{
  color: #f9b17a;
  font-size: 20px;
  position: absolute;
  right: 6px;
  top:50%;

}
.password{
  position: relative;
}
.password>ion-icon{
  color: #f9b17a;
  font-size: 20px;
  position: absolute;
  right: 6px;
  top:50%;
}
.email>input,.password>input{
  background: #676f9d;
  border:none;
  border-radius: 10px;
  height: 35px;
  margin-top: 20px;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  padding-left: 10px;
  margin-left: -10px;
}
#l-sub{
  margin-top: 26px;
  background: #f9b17a;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding:8px 15px;
}
::placeholder{
  color: #ffffff;
}
.register{
  min-height: 250px;
  background: #2d3250;
  border-radius: 10px;
  width: 260px;
  padding-top:5px;
}
.verify{
  position: relative;
}
.verify>input{
  width: 85%;
  background: #676f9d;
  border:none;
  border-radius: 10px;
  height: 35px;
  color: #ffffff;
  font-size: 14px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.verify>ion-icon{
  position: absolute;
  top: 9px;
  right: 20px;
  color: #f9b17a;
  font-size: 20px;
}
.verify>button{
  background-color: #f9b17a;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 15px;
}
.time{
  position: absolute;
  left: 19px;
  top: 43%;
  font-size: 14px;
}
.details>form>input[type='radio']{
  accent-color:#f9b17a;
  background: #424769;
}

.register.STUDENT{
  height:410px
}
.details>form{
  display: inline;
  justify-content: center;
  align-items: center;
}
input{
  border: none;
  border-radius: 5px;
}
.details>form>input{
  background:  #676f9d;
  color: #ffffff;
  font-size: 14px;
  padding:8px 5px;
  margin-top: 10px;
}
.details>form>button{
  color: #ffffff;
  background: #f9b17a;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
}
.details{
  width: 100%;
}
select{
  font-size: 14px;
  width:185px;
  background:#676f9d;
  color: #ffffff;
  padding:8px 5px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
body{
  position: relative;
}
.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(15px);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes in-out {
  0% {
    top: -100px;
  }
  25% {
    top: 0px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: -100px;
  }
}
.message{
  position: fixed;
  top: -100px;
  left: 0;
  width: 100vw;
  z-index: 1005;
  height:10vh;
  border-radius: 10px;
  font-size: 17px;
  transition-property: top;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.message.transist{
  top: 0;
}
