@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: Roboto system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1d2033;
  color: #ffffff;
  position: relative;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: #2d3250;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.logo{
  position: absolute;
  left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo>img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.logo-name{
  display: none;
}
a{
  text-decoration: none;
  color: #ffffff;
}
.auth{
  color: #f9b17a;
  position: absolute;
  right: 5px;
  top: 18px;
}
.auth>a{
  border: 2px solid #f9b17a;
  border-radius: 20px;
  margin: 5px 5px;
  padding: 8px 13px;
  color:#f9b17a;
  font-size: 14px;
}
.auth>a:hover{
  color: #ffffff;
  background-color: #f9b17a;
}
.login{
  width:250px;
  height: 60vh;
  background-color: #424769;
}